<html>
<head>
    <meta charset="UTF-8">
    <title>Login2</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/firebaseauth.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/particle.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div id="particles-js"></div>
    <div id="newusermodel" class="ui modal">
        <div class="image content">
            <!-- <div class="ui medium image">
                <input type='file' onchange="readURL(this);" />
                <img class="ui medium circular image" onclick="uploadimage();" src="/images/square-image.png">
            </div> -->
            <div class="description">
                <div class="ui header my-header center aligned">Create Your Totem Login</div>
                <form class="ui large form">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="email" id="email2" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="password2" placeholder="Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" id="retypepassword2" placeholder="Retype Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="hourglass icon"></i>
                                <input type="number" id="age" placeholder="Age">
                            </div>
                        </div>
                        <div class="field">
                            <select id="gendropdown" class="ui dropdown">
                                <option value="">Gender</option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                                <option value="2">Other</option>
                            </select>
                        </div>
                        <div class="ui fluid large submit button custom-button" onclick="createnewuserclick();">Login</div>
                    </div>

                    <div class="ui error message"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="text"> -->
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image my-header header">
                <img src="/images/Logo.png" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" id="email1" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password1" type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large submit custom-button button" id="login">Login</div>
                </div>
                <div class="ui error message"></div>
            </form>
            <div class='button fluid ui large custom-button2' onclick="newuserclick();">Sign Up</div>
            <a class='button mag-top fluid ui large custom-button2' href='/info'>Find out more!</a>
        </div>
    </div>
    <!-- </div> -->

    <script src="/javascripts/particles.js"></script>
    <script src="/javascripts/login.js"></script>
</body>

</html>