<div class="ui fixed inverted menu">
  <div class="ui container">
      <a href="#" class="header item">

        Totem Poll
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Sort <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Music</a>
          <a class="item" href="#">Video Games</a>
          <a class="item" href="#">Sports</a>
          <a class="item" href="#">Writing</a>
          <a class="item" href="#">Looks</a>
        </div>

      </div>
      <div class="right item">
        <div class="ui input"><input type="text" placeholder="Search..."></div>
      </div>
    </div>
</div>
