<div class="ui fixed inverted menu">
  <div class="ui container">

      <img src="/images/logo.png" class="centered" width="48" height="24" align="middle" vspace="10px">
      <a href="/" class="item">Home</a>
      <a href="/newPoll" class="item">New Poll</a>
      <a href="/history" class="item">History</a>
      <div class="right item">

      </div>

    </div>
</div>
