
<nav class="navbar navbar-expand-lg navbar-dark accentColor justify-content-between" style='display:none'>
  <div class='container d-flex justify-content-between'>
    <a href='#' style='color:white'class="navbar-brand secondaryTextColor" onclick="goCover()">Aerial Spectrum Mapping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a href='#' id='ProjectLink' class="nav-item nav-link secondaryTextColor active" onclick="showProject()">project</a>
        <a href='#' id='TeamLink' class="nav-item nav-link secondaryTextColor" onclick="showTeam()">team</a>
        <a href='#' id='SponsorLink' class="nav-item nav-link secondaryTextColor" onclick='showSponsor()'>design</a>
      </div>
    </div>
  </div>
</nav>
