<div class='ui sticky stickyTop'>
  <div class="ui inverted segment">
    <div class="ui inverted menu" style="margin-bottom:20px">
      <button id="left-sidebar-toggle">
        show sidebar
      </button>
    </div>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">

  <a class="item" href="/postblock">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item" href="/mypost">
    <i class="block layout icon"></i>
    My Posts
  </a>
  <a class="item" href="/newpoll">
    <i class="plus square icon"></i>
    New Post
  </a>
  <a class="item" href="/history">
    <i class="history icon"></i>
    History
  </a>

</div>


<script>

  // $('.ui.left.sidebar').sidebar({
  //   dimPage: false,
  //   // transition: 'pusher',
  //   // exclusive: false,
  //   closable: true
  // });

  $('#left-sidebar-toggle').click(function () {
    $('.ui.labeled.icon.sidebar')
      .sidebar('setting', 'transition', 'overlay')
      .sidebar('setting', 'dimPage', false)
      .sidebar('toggle');
  });


</script>