<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
</head>
<body>
<div class="ui grid stackable container" id="feed">
    <div class="eight wide centered column" id="column2"></div>
    <div class="eight wide centered column" id="column3"></div>
    <script>
        $(document).ready(function () {

            getPosts(function (posts) {

               for(post in posts){

                   var temphtml ='';
                   for(opt in posts[post].voteOptions){

                       temphtml = temphtml + '<div class="item" data-value=' + opt + '>' + posts[post].voteOptions[opt] + '</div>'
                   }

                   if (post%2 === 0){
                       $('#column2').append('<div class="ui card centered column fluid"><div class="image"><img src="/images/square-image.png"></div><div class="content"><a class="header">'+ posts[post].title +'</a><div class="meta"><span class="date">' + posts[post].timestamp + '</span></div><div class="description">' + posts[post].tags + '</div></div><div class="extra content"><div class="ui selection dropdown"><input type="hidden" name="options"><i class="dropdown icon"></i><div class="default text">Options</div><div class="menu">' + temphtml + '</div></div></div></div>')
                   }
                   else
                   {
                       $('#column3').append('<div class="ui card centered column fluid"><div class="image"><img src="/images/square-image.png"></div><div class="content"><a class="header">'+ posts[post].title +'</a><div class="meta"><span class="date">' + posts[post].timestamp + '</span></div><div class="description">' + posts[post].tags + '</div></div><div class="extra content"><div class="ui selection dropdown"><input type="hidden" name="options"><i class="dropdown icon"></i><div class="default text">Options</div><div class="menu">' + temphtml + '</div></div></div></div>')
                   }

               }

               $('.ui.dropdown').dropdown()
            });
        });
    </script>
</div>





    <script src="/javascripts/api.js"></script>
</body>
</html>
