<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous">
    </script>


  </head>
  <body>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <header>
      <% include navbar.ejs %>
    </header>

    <h1>Preferences</h1>

    <form class="ui form">

      <div class="field">
        <div class="ui checkbox">
          <input id="music" type="checkbox">
          <label for="music-id">music</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="videoGames" type="checkbox">
          <label for="videoGames">video Games</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="fashion" type="checkbox">
          <label for="fashion">fashion</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="sports" type="checkbox">
          <label for="sports">sports</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input id="movies" type="checkbox">
          <label for="movies">movies</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>

  </body>
  <script src='/javascripts/forms.js'></script>
</html>
